<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<appSettings>
		<add value="true" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@key='requireApiKey')" />
		<add value="66666666-6666-6666-6666-666666666666" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@key='apiKey')" />
	</appSettings>
</configuration>