<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	<appSettings>
		<add value="false" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@name='requireApiKey')" />
		<add value="66666666-6666-6666-6666-666666666666" xdt:Transform="SetAttributes(value)" xdt:Locator="Condition(@name='apiKey')" />
	</appSettings>
</configuration>